@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  font-family: "Montserrat", sans-serif; } /* Roboto Condensed */

#block-intranet-content {
  font-family: "Lora";
  font-size: 18px; }

/*.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif; }*/

h1 {
  margin-top: 2rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif; }

h1.title {
  font-family: "Montserrat", sans-serif; 
  margin-top: 0;
  margin-bottom: 2rem;
  border-bottom: 5px solid #feb70d; }

h2 {
   border-bottom: 2px solid #feb70d;}

h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;}


/* a {
  color: #069; }
  a:hover {
    color: #004445; }
*/
main {
  padding: 0 4rem; }
  
td {
  font-family: "Roboto Condensed", sans-serif;}
    
th {
  font-family: "Roboto Condensed", sans-serif;}


pre {
  background-color: #F2F2F2;}

.tbl-reactable {
  font-family: "Roboto Condensed", sans-serif;
}

.tbl-detail {
  font-family: "Roboto Condensed", sans-serif;
}

.tbl-row:hover {
  background-color: #f5f8ff;
}

/* .navcolor{background-color: #004445;
  
}
*/

/* To start, CSS copied from https://github.com/CityOfDetroit/detroitmi/blob/2fdf7acd7a234ffb1d6e78f7fa74aa6dc06c9cfb/docroot/themes/custom/intranet/css/theme/content.theme.css */

/* DSA Documents style sheet elements might also be useful: https://github.com/CityOfDetroit/dsa-docs/blob/bc90592a612784e0d0ba4fbdfed668895ff42ae6/_static/book.css */

/* Detroit style guide: https://detroitmi.gov/departments/department-innovation-and-technology/style-guide */